[2014-03-04 12:26] HaVonTe opened #1 "CDI Ambiguous dependencies for injecting SqlSession"
It's not possible to create an own @Producer Method for an SqlSession with mybatis-cdi. When I deploy such a bean, it throws Ambiguous dependencies Exceptions because glassfish thinks MyBatisBean is producing the same SqlSession as my own Bean.

[2014-06-17 14:02] rparree opened #2 "Not able to make it work as a WildFly 8.1.0 module"
Hi,

I have been trying to make it work in WildFly 8.1.0. My deployment is a jar file containing a couple of MDBs.

One issue i have is that i need to bundle my ejb-jar in an ear together with mybatis plus the cdi extension. I am not able to make it work with a module.

This is my `module.xml`

[code]

and this is my `deployment-structure.xml`

[code]

Anybody more luck with this?

tx.,

[2014-08-18 09:57] artplastika opened #5 "Doesn't work with WebLogic 12c"
Injection gives following error:

Sample application to demonstrate problem is here: https://github.com/artplastika/mybatis-cdi-example/tree/weblogic
Maybe this will help, WebLogic (as well as WildFly) uses WELD as CDI implementation: http://weld.cdi-spec.org/

[2015-01-29 11:18] raupachz opened #10 "Unsatisfied dependencies with Tomcat and Weld"
Hi,

we are running Tomcat 8 with Weld 2.2.8. Dependency Injection works and our code runs fine.

[code]

All our DAO Classes share the same basic structure.

[code]

I am trying to get rid of the boilerplate code with Mybatis-CDI and inject with `@Mapper`. During deployment I end up with the following exception.

[code]

Makes sense because with don't work with JTA Transaction at all. Any chance

[2015-02-18 04:37] rickcr commented on #10
Having the same issue trying to deploy to Tomcat 7.

(note when trying to deploy to jboss 6.. I end up with  java.lang.ClassCastException: org.jboss.weld.bootstrap.WeldBootstrap cannot be cast to org.jboss.weld.bootstrap.api.CDI11Bootstrap)

Oh I how I wish someone would make a simple war application showing how to glue all this together. I'm working on such an example, but it's been a nightmare s

[2015-04-03 15:36] gallegote commented on #10
Hi

I have the same problem with deploying to Tomcat 7.

Since I do not use JTA Transaction in my application. I've solved by deleting the JtaTransactionInterceptor class that is inside the mybatis-cdi-1.0.0-beta1.jar file.

[2015-04-06 15:45] pholding opened #11 "Unable to use MyBatis-CDI with GlassFish 4 and 4.1"
I'm unable to get MyBatis-CDI working with GlassFish 4 and GlassFish 4.1 due to a `MybatisCdiConfigurationException` exception being thrown with the description "There are no SqlSessionFactory producers properly configured."

The code for the SqlSessionFactory I'm using is as follow:

[code]

I've stepped through the code of the MyBatis-CDI module and have found that when the follow line of code i

[2015-04-07 13:10] christianpoitras commented on #11
Try adding @ApplicationScoped to your SqlSessionFactoryProvider.

[2015-04-07 20:37] pholding commented on #11
I've just tried adding `@ApplicationScoped` to the `SqlSessionFactoryProvider` class but I'm still getting a `MybatisCdiConfigurationException` thrown with the description "There are no SqlSessionFactory producers properly configured."

[2015-04-08 13:32] christianpoitras commented on #11
I guess it will be difficult to find the reason why Weld behaves differently in 2.2.2 compared to 2.1.2.

My only other suggestion would be to force the declaration of the bean in beans.xml and see if that helps.
You could also try to add the Default and/or Any annotation to qualifiers.
<code>
beans = beanManager.getBeans(SqlSessionFactory.class, new AnnotationLiteral<Default>() {});
</code>

[2015-04-08 17:43] pholding commented on #11
I've tried adding `@Default` and `@Any` to the method but the problem still remains.

I've also found out that there seems to be a GlassFish specific release of Weld, although I don't know what is different between the standard release and the GlassFish release, and there doesn't appear to be a GlassFish specific release of Weld 2.1.2 in Maven Central. I tried downloading the GlassFish release of

[2015-04-08 18:45] christianpoitras commented on #11
Normally, using
<code>
beans = beanManager.getBeans(SqlSessionFactory.class, new AnnotationLiteral<Any>() {});
</code>
CDI should return all SqlSessionFactory beans. To test this, you will need to create your own copy of mybatis-cdi.

After checking, it is not possible to force the declaration of a bean in beans.xml. You can only force the use of alternatives. I am not a CDI expert, sorry.

[2015-04-09 12:13] pholding commented on #11
I've copied the various classes that make up mybatis-cdi directly into my program and have registered the extension in `META-INF/services/javax.enterprise.inject.spi.Extension`, and I can now successfully inject mappers into my program and run queries using MyBatis.

Given that this works in Weld without any changes and also in GlassFish when I copy the mybatis-cdi classes into my program, I'm won

[2015-04-09 13:22] christianpoitras commented on #11
Thanks. That's an interesting bit of information. I'll have a look into it and see if there is anything to do to solve the issue.

[2015-04-29 22:48] gallegote opened #12 "Dynamically change the SqlSessionFactory of each mapper in each request"
Hi.
I am new to CDI and I have a problem that I think is very complex and not fix it.

My system consists of many databases. A database for authentication, and many identical databases ( one for each user). Each user can only access its own database , and you can create databases of users dynamically .

![database](https://cloud.githubusercontent.com/assets/11761767/7402365/864f0566-eecb-11e4-8b2d

[2015-05-05 21:41] gallegote opened #13 "Inject bean in a plugin MyBatis has a null value"
Hi

I am using CDI (Weld ) in a web application developed in JSF and MyBatis on a Tomcat application server.

When I inject a bean into a plugin of MyBatis, the injected bean always has a null value, instead of injecting the correct instance of the bean.

What am I doing wrong?

Regards

[code]

[code]

[code]

[2015-05-06 01:39] hazendaz commented on #13
I'm not familiar with the interceptor in mybatis but I am with CDI.  How is your interceptor instantiated?  If it is newed at any point in time after tomcat is up and running, it won't play with CDI thus your null issues.  You can resolve that pretty easily though by adding Deltaspike and performing BeanProvider.injectFields(this);  Toss that on the intercept method and it will get that going for

[2015-05-06 02:24] hazendaz commented on #10
Better option is to add javax.transaction to your tomcat or locally, either will work.

User this one so you still have java 6 support since this is on weld 2.1.2

    <dependency>
      <groupId>javax.transaction</groupId>
      <artifactId>transaction-api</artifactId>
      <version>1.1</version>
    </dependency>

In the meantime, I'm going to do a PR to fix this in the build by making this a c

[2015-05-06 03:28] hazendaz commented on #11
Just a few ideas...

Could this have something to do with beans.xml not being setup for 2.2.x?  While it is not required in glassfish 4.1, if I recall correctly, what it does changed.  Annotations are default now.

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="h

[2015-05-06 03:30] hazendaz commented on #5
#11 is the same issue.  I suspect a few things so would look at that issue for what I wrote up.  Weld doesn't care about the extra beans.xml by the way.  It will spit out a warning but that is it.  It will also state it is using the one from the WAR rather than jar.  I'm guessing that is harder to just say the jar is wrong considering it could be used elsewhere where still needed.

[2015-05-06 13:58] raupachz commented on #10
Unfortunately that does not seem to work with Weld 2.2.11. I added the `transaction-api` to my pom.xml.

[2015-05-06 14:21] hazendaz commented on #10
Try version 1.2 of the api.  Weld 2.2 requires that level.  If you are using java 6 still you can use jboss version.

--- Original Message ---

From: "Björn Raupach" <notifications@github.com>
Sent: May 6, 2015 9:58 AM
To: "mybatis/cdi" <cdi@noreply.github.com>
Cc: "Jeremy Landis" <jeremylandis@hotmail.com>
Subject: Re: [cdi] Unsatisfied dependencies with Tomcat and Weld (#10)

Unfortunately that

[2015-05-06 14:25] raupachz commented on #10
@hazendaz I don't find 1.2 of transaction-api in Maven Central.

[2015-05-06 14:38] raupachz commented on #10
Ok, I tried with
[code]
Same error message.

[2015-05-06 15:17] hazendaz commented on #10
I think I understand the issue better at this point.  There is no transaction implementation so weld is tripped up on the injection of an interface.  I'll do some digging to see what best solution is outside of adding more jars...

--- Original Message ---

From: "Björn Raupach" <notifications@github.com>
Sent: May 6, 2015 10:38 AM
To: "mybatis/cdi" <cdi@noreply.github.com>
Cc: "Jeremy Landis" <je

[2015-05-06 15:59] hazendaz commented on #10
There is a fix mybatis needs.  Rather than simple inject it needs to use instance and then instance.get so that it essentially becomes optional.  I'll look at getting that in place tonight.  In the meantime the solution would be to delete that class out of the jar.  I'll get you a new jar to test tomorrow.  Provided your test pans out I'll see about getting this fast tracked for a release.

--- Or

[2015-05-06 16:13] raupachz commented on #10
No hurry. I can try it out tomorrow. Glad to help you out.

[2015-05-07 04:03] hazendaz commented on #10
I have a test project I use as sort of a catch all.  In that I had deltaspike in use for testing CDI.  I replicated your issue simply by adding mybatis-cdi and running my test class.  I'm merging the code to the code base as test cases work with the fix.  I don't have access at the moment to do a direct release so I'm making this available for you at this location.  I did this as if it is the actu

[2015-05-07 04:03] #10 closed

[2015-05-07 08:05] raupachz commented on #10
We are getting somewhere. I tried the jar you provided. The `DeploymentException` is gone. Unfortunately I end you with a different exception. The problem could be on my end however. Not sure.

[code]

Here is my `SqlSessionFactoryProducer` class that used to work but is not found anymore.

[code]

[2015-05-07 13:14] christianpoitras commented on #10
This looks a lot like #11.

[2015-05-07 13:18] raupachz commented on #10
Yes, It does. Adding `@ApplicationScoped` to the class `SqlSessionFactoryProvider` did not help. So the two are related somehow. Anything I can do to help out? I am not so familiar with the intrinsics of CDI but I have time and a project to try things out.

[2015-05-07 13:23] hazendaz commented on #10
Can you drop weld back to 2.1.2 to see if that works in tomcat?

--- Original Message ---

From: "Björn Raupach" <notifications@github.com>
Sent: May 7, 2015 9:18 AM
To: "mybatis/cdi" <cdi@noreply.github.com>
Cc: "Jeremy Landis" <jeremylandis@hotmail.com>
Subject: Re: [cdi] Unsatisfied dependencies with Tomcat and Weld (#10)

Yes, It does. Adding `@ApplicationScoped` to the class `SqlSessionFactor

[2015-05-07 13:44] raupachz commented on #10
Works like a charm!

[code]

[2015-05-07 13:47] hazendaz commented on #10
Cool.  We have a base working on tomcat!  I don't have access to code right now but will give this a look tonight to get to 2.2.  Are there any other logs on 2.2 that might help isolate issue?

--- Original Message ---

From: "Björn Raupach" <notifications@github.com>
Sent: May 7, 2015 9:44 AM
To: "mybatis/cdi" <cdi@noreply.github.com>
Cc: "Jeremy Landis" <jeremylandis@hotmail.com>
Subject: Re: [c

[2015-05-07 13:55] raupachz commented on #10
Ist just boils down to the `MybatisCdiConfigurationException ` mentioned above, but I do some checking. I let you know if I find anything else.

[2015-05-08 17:19] gallegote commented on #13
The instance of the interceptor not built for me. The interceptor instance is created by mybatis from a configuration file. Now I understand why I do not properly injected beans.

I have tried using Deltaspike and almost works. By injecting a bean with applicationScope it works, but to inject a sessionScope fails, instead of injecting my SessionBean, try to create a new session bean each time it i

[2015-05-10 14:06] hazendaz commented on #10
I have this working under tomcat without any issues.  My beans.xml is formatted for 2.2.x so maybe that makes a difference.  My mappers load up just fine.  I have three separate sql session factories as well.  All named and all working as one would expect.  I wasn't physically using mybatis-cdi until this issue was raised so now I am.  Maybe you can more information about your tomcat setup as well

[2015-05-10 14:22] hazendaz commented on #13
Yup...sounds like interceptor is application scoped.  You won't be able to inject session into there as that wouldn't be thread safe.  Appears you are just trying to log and not use interceptor for anything else.  I'd just put that in the dao which would be able to log user info for you.  That is unless you are trying to do something else.

[2015-05-11 07:12] raupachz commented on #10
Thanks! That is interesting to know. Let me create a mcve and find the culprit. My stack is rather simple: JSF 2.2, Omnifaces and MyBatis. If I find something I open a new issue.

[2015-05-13 02:47] hazendaz commented on #10
Things get a little tricky after Weld 2.2.5.  Annotations start to explicitly matter more.  I've had to hund down lots of similar issues so that might be what is causing you issues.  I've been running this now for a few days and it works like a champ.  Let me know if you have any luck on this.  I'm using all those same things you mention plus some.  The beta2 version has now been released out to c

[2015-05-13 07:34] raupachz commented on #10
Jeremy is the version in Maven central the same you send me a week ago? Yesterday I was creating a simple JSF 2.2 project with Weld 2.2.11 and it worked like you said. No problems at all.

So I guess this project I am working on has some other issue. Have to figure that out. What do you mean by formatted for 2.2.x? I still use this `beans.xml`:

[code]

[2015-05-13 10:51] hazendaz commented on #10
There were so many breaking changes with 2.2 that I think I confused myself on the introduction of beans xml changes.  I believe you are good there.  That actually came with 2.x.  sorry for the confusion.

--- Original Message ---

From: "Björn Raupach" <notifications@github.com>
Sent: May 13, 2015 3:34 AM
To: "mybatis/cdi" <cdi@noreply.github.com>
Cc: "Jeremy Landis" <jeremylandis@hotmail.com>
Su

[2015-07-23 20:47] isaiasbsf opened #19 "CDI injection does not work in WebSphere Application Server 8.5.5.5"
I have a web application with JSF 2.0, mybatis-3.3.0 and mybatis-cdi-1.0.0-beta2. The following two cases does not work running on WebSphere Application Server 8.5.5.5:

@Inject
private SqlSession session;

or

@Inject
@Mapper
private InerfaceXXXMapper mapper;

Eclipse IDE gives me a warning at the @Inject mentioned above:
"No bean is eligible for injection to the injection point [JSR-299 §5.2.1]"

[2015-07-23 23:16] hazendaz commented on #19
Possibly using @any might work.

Sent by Outlook for Android

On Thu, Jul 23, 2015 at 1:47 PM -0700, "isaiasbsf" <notifications@github.com> wrote:
I have a web application with JSF 2.0, mybatis-3.3.0 and mybatis-cdi-1.0.0-beta2. The fllowing two cases does not work running on WebSphere Application Server 8.5.5.5:

@Inject
private SqlSession session;

or

@Inject
@Mapper
private InerfaceXXXMapper m

[2015-07-24 00:05] isaiasbsf commented on #19
I got the same resut:

@Inject
@Any
private SqlSession session;

[7/23/15 20:42:56:172 BRT] 0000007e WebContainerL I WebContainerLifecycle startApplication OpenWebBeans Container is starting...
[7/23/15 20:42:58:058 BRT] 0000007e Extension     I   MyBatis CDI Module - Activated
[7/23/15 20:42:58:673 BRT] 0000007e BeansDeployer E BeansDeployer deploy
                                 javax.enterpris

[2015-07-24 12:36] hazendaz commented on #19
Is your producer class also scoped in application scope?

Sent by Outlook for Android

On Thu, Jul 23, 2015 at 5:05 PM -0700, "isaiasbsf" <notifications@github.com> wrote:
I got the same resut:

@Inject
@Any
private SqlSession session;

[7/23/15 20:42:56:172 BRT] 0000007e WebContainerL I WebContainerLifecycle startApplication OpenWebBeans Container is starting...
[7/23/15 20:42:58:058 BRT] 0000007

[2015-07-24 14:14] isaiasbsf commented on #19
I wasn´t, but now it is and didn´t work.

@ApplicationScoped
public class SqlSessionFactoryProvider {

@ApplicationScoped
@Produces
public SqlSessionFactory produceFactory() {...}

It seems like it needs to load the factory at startup so that it doesn´t fail the following validation. Is there a way to load the factory at startup?

at org.apache.webbeans.util.InjectionExceptionUtils.throwUnsatisfie

[2015-08-03 14:07] fgianneschi commented on #11
I'm running WildFly 8.2.1 and I've the same problem. Any updates?

[2015-10-18 16:09] tonywestonuk opened #26 "Permgen Leak in TomEE."
MyBatis CDI causes memory leak in TomEE.   After investigation, I have tracked this down to an instance of org.apache.ibatis.executor.ErrorContext that is created during MyBatisBean.create().

To Fix,  ErrorContext.instance().reset()   needs to be added just before MyBatisBean.create() returns.

As a workaround, I have added ErrorContext.instance().reset();   to my SqlSessionFactoryProvider class

[2015-10-18 16:48] emacarron commented on #26
Hi @tonywestonuk can you make the change yourself and send a pull request?

[2015-12-30 02:06] sjljsw commented on #11
hello ,I run glassfish 4.1 or payrar, the same and you have the same problem. You do not know the problem has been solved? I am very anxious to solve this problem.My weld-osgi-bundle upgrade to 2.3.2.final. Can not solve the problem.

I suspect that
beans = beanManager.getBeans(SqlSessionFactory.class, qualifiers.toArray(new Annotation[]{}));.
Can not find an instance

[2016-02-19 10:39] sander78 opened #30 "Question/Issue about Mybatis-cdi @Mapper discovery"
Hi there,

We use mybatis-cdi in combination with java8. With the default implementation now possible in interfaces this makes code like this possible.

[code]

So we inject a list of Mappers of type ItemMapper and each mapper can say for which type it can be used. For example:

[code]

But since we do not use @Inject @Mapper SavingsAccountMapper this mapper is not initialized. We can force this i

[2016-02-19 12:57] mnesarco commented on #30
Hi Sander,

mybatis-cdi only recognize Mappers injected with @Mapped at least once. So
if you have a mapper but you do not inject it with @Mapper somewhere...
mybatis-cdi will ignore it.

Cheers,

Frank.

On Fri, Feb 19, 2016 at 5:39 AM, sander78 <notifications@github.com> wrote:

--
Frank D. Martínez M.

[2016-02-19 13:07] sander78 commented on #30
Okay that's what I figured :)
By the way I just found out it wouldn't work anyway as Mybatis does not accept a default implementation in the interface and will throw an Exception. Too bad.

Thanks

[2016-02-19 13:07] #30 closed

[2016-03-16 16:24] ilkomiliev commented on #19
It doesn't work me too. I'm on WAS 8.5.5.3 with mybatis-cdi 1.0.0-beta3. Same errors at start-up.

[2016-04-07 07:05] mjkowalski opened #34 "LocalTransactionInterceptor does not match an interceptor bean (Payara Micro 4.1.1.161.1)"
Deploying application on Payara Micro 4.1.1.161.1 gives the following error:
[code]

It looks exactly like a problem described [here](https://java.net/jira/browse/GLASSFISH-20667). Changing `bean-discovery-mode` in mybatis-cdi `beans.xml` file to `bean-discovery-mode="all"` solves the problem.

[2016-04-07 14:11] #34 closed

[2016-04-15 09:10] raupachz opened #37 "UnserializableDependencyException"
Hello group,

I am trying to use MyBatis-CDI with a new JSF project. I have a `ViewScoped Bean` and want to inject a `Mapper`.

This leads to the following exception during startup:
[code]

If I change the scope from ViewScope to RequestScoped it works. SessionScoped and ApplicationScoped yield the same exception.

Should I provide a [test case?](http://sscce.org/)

**Versions:**
Apache Tomcat 8.0

[2016-04-15 09:32] raupachz commented on #37
Ok, If I add `transient` to the reference it works. Is this the way it should be?

[code]

[2016-04-23 16:52] hazendaz commented on #37
@raupachz Yes that is correct.  There is not really any good need to make the mapper serializable in any way.  Based on your description though, you might want to further decouple your view from your dao.  Personally I would create a separate dao that has the above mapper injected and uses it there.  Then that dao would be RequestScoped and would be injected where needed (and also marked transient

[2016-04-23 17:06] hazendaz commented on #26
@emacarron I took a look around in guice since it would seem logical that if this has a leak there is one over there too.  And there certainly was and it was fixed long ago.  I have added the above code where noted and will perform a pull request but not completely sure if that is the right spot so I will let that sit until further review.  I know I'll want to run some live tests on this and I'm s

[2016-04-23 17:27] emacarron commented on #26
@hazendaz Ok. Do the change and let me know. I will have a look at it and tell you. Thank you!

[2016-04-24 09:21] raupachz commented on #37
@hazendaz Hi Jeremy, thanks for the detailed reply. Yes, I follow the same approach. In this case however I just had a view and needed some values out of the database. For simplicity I did not want to introduce another class just for the sole purpose of annotating it with `RequestScoped` and injecting the mapper.

So we can consider this closed. Thanks again!

[2016-04-24 16:58] hazendaz commented on #37
Great!  Thanks for getting back with me.

[2016-04-24 16:58] #37 closed

[2016-05-18 07:36] mcbeelen opened #40 "NullPointerException in stacktrace when deploying an EJB with an Injected Mapper om TomEE"
We have a stateless bean part of our deployment and we use MyBatis CDI to inject a Mapper:

[code]

When we deploy this, we see the following stacktrace, but the application does work as it is supposed to do.

[code]

[2016-06-15 15:59] quarkalone commented on #11
Hello,
I'm having a difficult time with glassfish 4.1.  Does anyone have a working example?  Currently, when I try to inject a mapper I get this message in the log:

Severe:   Error Rendering View[/index.xhtml]
org.mybatis.cdi.MybatisCdiConfigurationException: There are no SqlSessionFactory producers properly configured.

However, some lines before I get:
Info:   MyBatis CDI Module - Activated
Inf

[2016-08-27 16:38] hazendaz commented on #26
This still needs tested but I went ahead and merged it since guice module has same code and we are getting backed up on outstanding version updates ;)  I still plan to use this version when I get time.  Last I tested I was running into some odd issues (possibly unrelated) but in my actual use case we are still a ways off from switching from home grown version of this to the official copy.  And it

[2016-08-30 07:56] raupachz opened #42 "Injecting a mapper in a servlet filter fails"
Hello,

for some reason injecting a mapper in a Servlet Filter fails. The filter is annotated with @WebFilter. I can inject other stuff with @Inject. For example a SqlSessionFactory. That works without problems. If I however try to do a @Inject @Mapper it end up with a unsatisfied dependency exception.

I can inject mappers in other JSF beans. So everything with @Named and a scope is fine. Only th

[2016-08-30 08:06] raupachz commented on #42
If I add @Dependent to the servlet filter it looks like it is working. I am just not sure if this is correct. Don't know that much about @Dependent scope.

[2016-08-30 10:48] hazendaz commented on #42
@dependent in my understanding means the object doesnt live on its own with a scope.  Not sure if that makes sense here either.  I was going to suggest to use latest snapshot to see if there is any difference.

Get Outlook for Android<https://aka.ms/ghei36>

On Tue, Aug 30, 2016 at 4:06 AM -0400, "Björn Raupach" <notifications@github.com<mailto:notifications@github.com>> wrote:

If I add @Dependen

[2016-08-30 11:28] raupachz commented on #42
@hazendaz Could you give me the link to the snapchat repository. I would try.

[2016-09-03 17:14] hazendaz commented on #42
@raupachz sorry for the delay.  Our automated builds for snapshots looks like it's not hooked up on this project.  I manualy pushed out the latest.  You can find it [here](https://oss.sonatype.org/content/repositories/snapshots/org/mybatis/mybatis-cdi/1.0.0-beta4-SNAPSHOT/)

[2016-11-04 18:34] neetughota opened #44 "i am trying to implement mybatis cdi in dropwizard but I don't understand how do i create intance of SqlSessionFactoryProvider"

[2016-11-11 20:23] raupachz commented on #44
http://www.mybatis.org/mybatis-3/getting-started.html

[2016-11-12 12:35] raupachz commented on #42
Sorry for the late reply. I have no clue if it worked or not. Need to check this again. I totally forgot about it.

[2016-11-21 09:15] raupachz opened #45 "Breaks with @FlowScoped"
It seems like @Inject @Mapper does not work with Beans annotated with JavaServer Faces @FlowScoped Annotation.

We end up with an exception:
[code]

The @FlowScoped bean implements Serializable, so that is not the problem.

Tested with 1.0.0-beta4-SNAPSHOT and Weld 2.4.0.Final

[2016-11-28 01:17] hazendaz commented on #45
@raupachz Any chance you might know what the issue is and can offer a pull request?  Asside from this I am going to cut a release due to a leak in older version and other changes to get current.  If we can get a fix for this, I'll release another change shortly after.

[2016-11-28 01:19] hazendaz commented on #26
I'm going to go ahead and release this with the fix noted.  I'll do some higher level tests after release.  These days it's hard to get usage in place without jumping lots of hoops so will just release then follow-up on some testing...

[2016-11-28 07:42] raupachz commented on #45
@hazendaz I have a look. Might take some days to find the time but I try to find the cause.

[2017-01-20 15:47] #44 closed

[2017-01-20 15:49] mnesarco commented on #42
Hi Guys, any news on this?

[2017-01-20 16:10] mnesarco commented on #40
If this happens only at deploy time, it looks like the ejb container is instantiating the cdi proxy before some CDI scoped resources are in place, but at that time no real mapper method is called. So if the stateless bean is then returned to the pool just to wait for a client, the proxy will be serialized and then deserialized when a real client uses the stateless bean, but at that time all the CD

[2017-01-20 16:17] mnesarco commented on #26
It looks like this is fixed in commit 59937fe can we close this issue?

[2017-01-21 14:44] mnesarco commented on #13
This is not related to mybatis-cdi, please post this in mybatis3.

[2017-01-21 14:44] #13 closed

[2017-01-21 14:47] mnesarco commented on #12
This is not related to mybatis-cdi. You need a multi-tenant configuration. There are some options using mybatis and a variable for the schema name, or something more specialized.

[2017-01-21 14:47] #12 closed

[2017-01-21 14:53] mnesarco commented on #2
This is a very specific and not standard configuration. Also you did not provide enough information like exceptions or log messages to figure out what happens. I am closing this issue. If it is still critical and you can help with tests and additional info, please reopen.

[2017-01-21 14:53] #2 closed

[2017-01-21 17:07] mnesarco commented on #1
I can add a @MapperSession annotation, so if you want to inject SqlSessions you must annotate the injection point, but mybatis-cdi will not use your custom SqlSession producers, it relies in SqlSessionFactory producers only. So if you create SqlSession producers, you are responsible for its lifecycle management and transactionality, and injected Mappers will not be bounded to your custom sessions.

[2017-01-23 23:12] mnesarco commented on #1
fixed in beta5: fd05599683d01af4bcde31a45511ff4649e50963

[2017-01-25 14:52] mcbeelen commented on #40
Recently we change some of the design of our application.
Since we made that change this issue has resurfaced and now it is interfering with the proper functionality of our application.

We have a MessageDrivenBean (the Receiver) in our application, which receives a JMS Message and delegates processing that message to another Stateless Session Bean(the MessageRouter).
After going through some of o

[2017-01-25 16:47] mnesarco commented on #40
Hi @mcbeelen, I have done some important changes in beta5. please take a look at: http://www.mybatis.org/cdi/changes.html
So please upgrade to beta5 and tell me if the problem is still there.

[2017-01-26 15:47] mnesarco commented on #45
Hi @raupachz can you try beta5?

[2017-01-26 15:49] mnesarco commented on #42
Hi @raupachz there is a beta5 now in maven central. Can you give it a try?

[2017-01-26 15:55] mnesarco commented on #19
Hi @isaiasbsf and @ilkomiliev thanks for reporting this, can you give a try with beta5? Take into accout there are breaking changes: http://www.mybatis.org/cdi/changes.html

[2017-01-26 15:58] mnesarco commented on #1
@HaVonTe  beta5 introduced important changes: http://www.mybatis.org/cdi/changes.html
from beta5 you can inject unmanaged SqlSession directly.

[2017-01-26 15:58] #1 closed

[2017-01-27 10:10] mcbeelen commented on #40
Hi @mnesarco ,

We upgraded to beta5 and tweaked our logging.

The behaviour we now see it:

1. mybatis.cdi.Extension finds 5 Mappers in `processAnnotatedType()`.
2. mybatis.cdi.Extension does not create a bean for all found mappers in `afterBeanDiscovery()`
3. As soon a OpenEJB.startup finds a object, which needs on of the 'uninitialized mappers' to throws an UnsatisfiedResolutionException.

[cod

[2017-01-27 17:23] #40 closed

[2017-01-27 22:27] mnesarco commented on #11
Hi, I have tested the beta5 against Payara 4.1 (Glassfish 4.1) and TomEE-Plus 7.0.1.
The test code can be found here: https://github.com/mnesarco/mybatis-cdi-samples

[2017-01-27 22:27] #11 closed

[2017-01-27 22:44] mnesarco commented on #42
I have tested beta5 against Payara 4.1 (Glassfish 4.1) and TomEE-Plus 7.0.1
Please take a look at: https://github.com/mnesarco/mybatis-cdi-samples

[2017-01-27 22:44] #42 closed

[2017-01-27 22:47] mnesarco commented on #5
Hi, I have tested the beta5 against Payara 4.1 (Glassfish 4.1) and TomEE-Plus 7.0.1.
The test code can be found here: https://github.com/mnesarco/mybatis-cdi-samples

Can you do some tests with WebLogic?

[2017-01-28 01:58] mnesarco commented on #19
I have tested beta5 with Payara 4.1 (Glassfish 4.1), TomEE-Plus 7.0.1, WildFly 10.1.0
Please take a look at the code (bare minimum): https://github.com/mnesarco/mybatis-cdi-samples
Can you please test it against WAS?

[2017-01-28 14:15] mcbeelen commented on #19
In version beta6 (SNAPSHOT for now) a fix for issue #40 was implemented. This fix might solve the WebSphere issues as well.
Could you please verify?

1. Please build the cdi-project locally.
2. Upgrade the version of the mybatis-cdi dependency to 1.0.0-beta6-SNAPSHOT in your application.
3. Adjust your code to adapt to the breaking changes: http://www.mybatis.org/cdi/changes.html
4. Deploy your ap

[2017-01-28 14:22] mcbeelen commented on #40
@mnesarco : Could the process to make a 1.0.0-beta6 release be started?
We would like to use the solution for this issue in our project, but prefer to use released versions instead of SNAPSHOTs.

[2017-01-29 01:02] mnesarco commented on #40
Hi @mcbeelen : I think it would be great to wait some news from issues #19
and #5. If they test the beta6 and confirm it solves the issues we can then
release it and help more users.

But if it is critical to you, you can ask to @hazendaz, maybe if he has
time he can push the release sooner.

On Sat, Jan 28, 2017 at 9:22 AM, Marco Beelen <notifications@github.com>
wrote:

--
Frank D. Martínez M.

[2017-01-29 06:35] hazendaz opened #49 "Use latest WELD"
Since servlet 2.5 is generally now EOL with both tomcat and spring calling it quits, should we go ahead and upgrade to latest weld 2.4.x?  The obvious there is that servlet 2.5 support will be dropped.

[2017-01-29 07:04] hazendaz commented on #40
I did a quick overall review, cleaned up a few very trivial issues, upgraded mockito to 2.7.0 and fixed mockito deprecations.  I'll push the release for beta6.  It's rather simple to do and takes about 10 minutes max.  The binary should show up though in central in about 2 to 3 hours from now.

[2017-02-14 21:19] zappee opened #52 "CDI injection does not work with Glassfish (Paraya) Server"
Hi,

I am trying to use mybatis + mybatis-cdi with Paraya application server so I followed the instruction on this page http://www.mybatis.org/cdi/getting-started.html but it does not work.

This is the runtime exception what I got:
[code]

This is my servlet:
[code]

mapper class:
[code]

It seems that MyBatisSQLSessionFactory.getSqlSessionFactory() methos is never called because i cannot see any

[2017-02-15 05:07] mnesarco commented on #52
There is a working example tested with Payara here:
https://github.com/mnesarco/mybatis-cdi-samples

On Tue, Feb 14, 2017 at 4:19 PM, ARNOLD Somogyi <notifications@github.com>
wrote:

--
Frank D. Martínez M.

[2017-02-15 14:35] zappee commented on #52
Thank you for the reply. I am checking that java project.

[2017-02-15 14:39] raupachz commented on #45
@mnesarco Oh wow. That was three weeks ago. Yes, give me some time. I have a look. Have to make a minimal project though.

[2017-02-15 15:09] mnesarco commented on #45
Hi @raupachz, there is a minimal project that you can use as template here:
https://github.com/mnesarco/mybatis-cdi-samples/

On Wed, Feb 15, 2017 at 9:39 AM, Björn Raupach <notifications@github.com>
wrote:

--
Frank D. Martínez M.

[2017-02-15 15:31] zappee commented on #52
Thanks. It works like a charm ;)
The only one thing what I do not understand is why I need to have this fake TestBean? It is not used by anyone but if I delete it then I get a exception:

Could you please explain it to me?

[code]

[2017-02-15 15:38] mnesarco commented on #52
TestBean is used by the index page:
https://github.com/mnesarco/mybatis-cdi-samples/blob/master/minimal-jee7/src/main/webapp/index.xhtml

On Wed, Feb 15, 2017 at 10:31 AM, ARNOLD Somogyi <notifications@github.com>
wrote:

--
Frank D. Martínez M.

[2017-02-15 15:46] zappee commented on #52
I do not have any index page. I only have a servlet. But if I delete this class then CDI does not work.

[2017-02-15 20:31] mnesarco commented on #52
I will try to reproduce the issue. If you want you can send me your test
project so I can review...

El 15/02/2017 10:46 AM, "ARNOLD Somogyi" <notifications@github.com>
escribió:

[2017-02-16 00:17] mnesarco commented on #52
Hi @zappee, I have tested this in payara with the TestBean removed and it worked. but you can't remove @Dependent from the mapper unless you set bean discovery to all in the bean.xml.

[2017-02-16 01:48] zappee commented on #52
Please find attached your modified project. You can see my modification on the "Version Controll" tab.

[mybatis-cdi-samples-arnold.tar.gz](https://github.com/mybatis/cdi/files/778864/mybatis-cdi-samples-arnold.tar.gz)

[2017-02-16 02:51] mnesarco commented on #52
Hi @zappee , I got it. Looks like Weld does not detect the mapper if not used by at least one proper CDI bean. (Servlets are not proper CDI beans). So a workaround is to annotate the servlet with @Dependent by now.

[2017-02-16 03:40] mnesarco commented on #49
I am ok with upgrade, any very old project can keep using old beta versions.

[2017-02-16 08:02] zappee commented on #52
Hi @mnesarco ,
Thank you for the workaround!
Do you think it is worth to rise an issue on Paraya / Weld website and ask the guys fix this issue?

[2017-02-17 03:24] mnesarco commented on #52
I will dig deeper into cdi specs to find if is there a way to detect cdi
dependencies in jee components from a cdi extension.

El 16/02/2017 3:02 AM, "ARNOLD Somogyi" <notifications@github.com> escribió:

Hi @mnesarco <https://github.com/mnesarco> ,
Thank you for the workaround!
Do you think it is worth to rise an issue on Paraya / Weld website and ask
the guys fix this issue?

—
You are receiving

[2017-02-17 17:32] mnesarco commented on #52
Looks like an old Weld issue with JEE components, but seems that it was fixed long time ago. So I leave the link for reference: https://issues.jboss.org/browse/JBAS-8281?page=com.atlassian.jira.plugin.system.issuetabpanels%3Achangehistory-tabpanel

[2017-02-17 17:46] mnesarco commented on #52
Ok, CDI Injection works well in Glassfish/Payara, there is a sample project ready to depoly and test here: https://github.com/mnesarco/mybatis-cdi-samples/

The special case of injecting mappers ONLY in JEE components that are not CDI aware is not related to mybatis-cdi but it is an issue in the CDI container.

The case is:

Scenario:
1. Inject a mapper X in a Servlet
2. Do not inject this mapper

[2017-02-17 17:46] #52 closed

[2017-02-17 17:51] mnesarco commented on #26
Hi @hazendaz , can we close this issue? it seems that you have fixed this long time ago.

[2017-02-17 17:53] mnesarco commented on #19
Hi @isaiasbsf , @ilkomiliev , can you help us testing if beta6 fixed the issue?

[2017-02-17 20:04] ilkomiliev commented on #19
Hi,

I'm sorry but I don't have access to WAS installations anymore. Perhaps someone else could help here.

[2017-02-18 02:33] hazendaz commented on #26
I didn't test the solution but I think based on guice fix of the same that the issue is resolved.

@tonywestonuk Is this something you can test again on latest beta and let us know if this is still an issue?

[2017-02-21 18:52] isaiasbsf commented on #19
Hi,

We had to look for another solution since it took too long to solve. However, I got a copy of the project from the time we were using MyBatis CDI, upgraded my dependencies to mybatis-3.4.2.jar / mybatis-cdi-1.0.0-beta6.jar and adjusted the code to the breaking changes:

@Mapper annotation is now mandatory in Mapper Interfaces and forbidden in injection points.
@SessionFactoryProvider is now m

[2017-02-22 15:14] mnesarco commented on #19
Hi @isaiasbsf ,

Caused by: java.lang.IllegalStateException: Unable to access CDI
at javax.enterprise.inject.spi.CDI.current(CDI.java:65)

Sounds like a container / configuration problem. Do you have a bean.xml file properly placed? Can you share your code? I am trying to solve this in the darkness.

[2017-02-22 15:23] mnesarco commented on #26
Fixed in 59937fe1596a6e2c4dda9a2bf7697c7b34c60a4f

[2017-02-22 15:23] #26 closed

[2017-02-22 15:31] mnesarco commented on #49
Hi @hazendaz I have upgraded to WELD 2.4.1, everything is working in my environment, but it fails on TravisCI, looks like a class version problem (maybe jdk version). Can you please check?

[2017-02-22 16:07] isaiasbsf commented on #19
Yes I do. CDI is working in the project, except for the bean I changed to inject the Mapper interface directly in the  new way according to the breaking changes. My project uses JSF with @ConversationScoped beans.

In my SqlSessionFactoryProvider.java  I have two providers:

@ApplicationScoped
@Produces
@ArarasFactory
@SessionFactoryProvider
public SqlSessionFactory produceArarasFactory() {...}

@

[2017-02-22 20:54] mnesarco commented on #45
Fixed in beta7

[2017-02-22 20:54] #45 closed

[2017-02-22 20:56] mnesarco commented on #19
Ok. Sounds like a "Passivation issue with the Conversation Scope" I have commited a fix for Issue #45 and it can be related. Please try beta7-snapshot. It works with payara and tomee.

[2017-02-23 01:57] hazendaz commented on #49
Commit aa90970 change to remove serialization breaks the tests.  I'm going to add it back but suspect weld might also be on java 7 in recent versions.

[2017-02-23 02:07] hazendaz commented on #49
OK So I was incorrect on servlet 2.5 support drop.  That actually occurred on 2.2 release. [here](http://weld.cdi-spec.org/news/page/8.html).  So we already dropped it to.  So what was stopping us was dropping java 6 support.  I personally don't see much reason to support 6.  Considering we obviously dropped servlet 2.5 at some point we don't support any old containers and I would like to hope bul

[2017-02-23 02:09] hazendaz commented on #49
btw being that project is not huge, I turned on formatting during build.  It trashes a bit due to license having spacing that conflicts so it always formats all 28 java files then applies header.  You may not notice that.  Also formatter at this point is based on Luna so on next mybatis parent it will raise to Mars which will fix some of the issues that formatted strangely.

[2017-02-23 18:35] isaiasbsf commented on #19
I didn't find beta7 in Maven central.

[2017-02-24 03:33] hazendaz commented on #19
@mnesarco Please take a look at the change I made to make serialization tests pass.  If that seems appropriate, I can release beta7.

@isaiasbsf Are you ok if we force java 7 usage?

[2017-02-24 16:03] isaiasbsf commented on #19
No problem., we're already using Java 7.

[2017-02-24 23:32] mnesarco commented on #19
@hazendaz your addition is ok. (I have removed Serializable by accident)

[2017-02-26 21:15] hazendaz commented on #49
Closing as fixed by removing java 6 build.  Weld requires java 7 now.

[2017-02-26 21:15] #49 closed

[2017-02-26 21:16] hazendaz commented on #19
@isaiasbsf I have released 1.0.0-beta7.  It should be available via poms immediately and will show in maven central in a couple of hours.  Can you try this again and let us know if it works?  Thanks.

[2017-03-01 18:14] isaiasbsf commented on #19
@hazendaz I changed to beta 7 but got the same error:

Caused by: java.lang.IllegalStateException: Unable to access CDI
	at javax.enterprise.inject.spi.CDI.current(CDI.java:65)
	at org.mybatis.cdi.CDIUtils.findSqlSessionFactory(CDIUtils.java:46)
	at org.mybatis.cdi.SerializableMapperProxy.getMapper(SerializableMapperProxy.java:57)
	at org.mybatis.cdi.SerializableMapperProxy.<init>(SerializableMapp

[2017-03-01 18:44] mnesarco commented on #19
@isaiasbsf  This is very strange. It works with OpenWebBeans in Tomee. Can you deploy the Sample App just to see if it works? (https://github.com/mnesarco/mybatis-cdi-samples/). TomEE uses OpenWebBeans 1.6.3, maybe WAS uses some different version?

[2017-03-01 20:35] mnesarco commented on #19
@isaiasbsf @hazendaz I have tested it today with WebSphere Application Server Version 16.0.0.4 Liberty and it works out of the box.

[2017-03-02 18:54] isaiasbsf commented on #19
We're using the WebSphere Application Server 8.5.5.3 (Liberty Profile) for development and WebSphere Application Server 8.5.5.5 (Full application server) on production environment. I deployed the same App  (https://github.com/mnesarco/mybatis-cdi-samples/) and got the following error when accessing the web context:

Caused by: javax.servlet.ServletException: SRVE0320E: O filtro [SampleWebFilter] f

[2017-03-02 19:58] mnesarco commented on #19
java.lang.NoClassDefFoundError: javax/enterprise/inject/spi/CDI Means that
it is using an old version of webbeans or there is another problem with the
container not with mybatis-cdi.

With  WAS Liberty with Java EE 7 Full Platform 16.0.0.4 it works out of the
box.

On Thu, Mar 2, 2017 at 1:54 PM, isaiasbsf <notifications@github.com> wrote:

--
Frank D. Martínez M.

[2017-03-02 20:19] mnesarco commented on #19
@isaiasbsf @hazendaz WAS CDI support started in 8.5.5 (CDI 1.0 I suppose), but it was updated to CDI 1.2 in 8.5.5.6.
ref: https://www.ibm.com/support/knowledgecenter/SS7JFU_8.5.5/com.ibm.websphere.wdt.doc/topics/wdt_overview.htm

You need at least CDI 1.1 to use mybatis-cdi.

[2017-03-02 20:52] isaiasbsf commented on #19
It's true, we're using cdi-1.0 since it is the CDI version supported on our version of the application server. I understand now that MyBatis-CDI minimal compliance is cdi-1.1. However, we're not upgrading our application server at this time because of this. The CDI container works for everything else, except for MyBatis CDI. This issue was opened almost 2 years ago and we were using the latest ver

[2017-03-02 22:39] hazendaz commented on #19
Thanks.  So based on everything I think we can close this.  If we don't already note minimum supported versions we should add that to the Readme.  Given overall age of original support need I'd say this is good enough so we can bring into GA release under version 1.0.0.  Thanks for all the effort in testing and confirming overall state.

Get Outlook for Android<https://aka.ms/ghei36>

____________

[2017-03-02 23:03] mnesarco commented on #19
@isaiasbsf @hazendaz Ok Guys, Thanks for your help. I am closing this now. I have updated the README with info about the CDI versions supported.

[2017-03-02 23:03] #19 closed

[2017-03-02 23:12] mnesarco commented on #5
Hi @hazendaz @artplastika , What can we do with this issue?
- It refers to an old beta (beta2).
- The current beta7 has been tested with Glassfish, Tomee, Websphere, Wildfly
- We have no WebLogic Environment to try to reproduce this.
- We do not support CDI 1.0, does WebLogic 12c support CDI 1.1 o 1.2 ?

[2017-03-03 07:49] artplastika commented on #5
Hi @mnesarco I'll take a look on it next week. Thanks.

[2017-03-10 15:07] mnesarco commented on #5
Hi @artplastika , have you had any time to check this?

[2017-03-16 15:28] mnesarco commented on #5
Hi @hazendaz @artplastika
Ok guys, I have tested this by myself on Oracle WebLogic 12c. It worked out of the box.

- Test App: https://github.com/mnesarco/mybatis-cdi-samples/
- Oracle WbLogic 12c installed: fmw_12.2.1.2.0_wls_quick
- mybatis-cdi version: beta7

[2017-03-16 15:28] #5 closed

[2017-03-16 15:41] mnesarco opened #59 "Ready for GA Release"
Hi @hazendaz , I think we are ready for our first General Availability Release.

- All passivation/serialization issues were resolved.
- Docs are up to date
- Tested with major Containers:
   * Payara 4.1 (Glassfish 4.1)
   * TomEE 7.0.1 Plus
   * Wildfly 10.1.0
   * WAS Liberty with Java EE 7 Full Platform 16.0.0.4
   * Oracle WebLogic 12c
- There are no more open issues.
- Clarification about no

[2017-03-17 01:46] hazendaz commented on #59
Sounds good.  Do you want to add a link to your sample cdi project?

[2017-03-17 01:58] mnesarco commented on #59
Hi @hazendaz , I have added the link to samples in the Readme.

[2017-03-17 02:15] hazendaz commented on #59
I was looking at sonatype statistics.  Pretty healthy usage of this.  At the moment 70% is on beta 2 for past month at around 700+ downloads.  Second is beta 6 around 100+ downloads.  Maybe give it to Saturday to see if anyone else on the team wants to comment.  If we don't hear anything I say we pull the trigger.

[2017-03-18 21:47] hazendaz commented on #59
Released.

[2017-03-18 21:47] #59 closed

[2017-04-23 18:19] zappee opened #61 "Inject SqlSession/Mapper to EJB with CDI"
There is an error during injecting SqlSession or Mapper to EJB.

Please find details here:
http://stackoverflow.com/questions/43574276/mybatis-cdi-container-managed-transaction

[2017-04-23 22:13] mnesarco commented on #61
@zappee please put the details here.

[2017-05-15 10:08] danielemaddaluno opened #63 "@Transactional(rollbackOnly = true) is bypassed running tests through TestSuite"
I've found a strange behavior using `@Transactional(rollbackOnly = true)` on method of Test classes used inside a JUnitTestSuite:

I've tried to reproduce this problem inside the mybatis-cdi project forked but I didn't manage to.

So to reproduce the problem I'll refer to my example-project.
I've created two suites:
- [JunitTestSuiteWriteWorking](https://github.com/danielemaddaluno/mybatis-cdi-jun

[2017-06-16 18:23] zappee commented on #61
So now it is clear whaut is the issue.
I have created two projects, they are uploaded to git.

1) WEB application (https://github.com/zappee/mybatis-web-demo)
Simple war inside an ear.
It works lik a charm.

2) EE application (https://github.com/zappee/mybatis-ee-demo)
The ear contains a common jar, a stateless ejb and a war file.
EJB calls MyBatis stuff.
WAR uses EJB.

The MyBatis related files (

[2017-06-17 01:11] mnesarco commented on #61
Hi @zappee
Do you have a bean.xml file inside the EJB jar? If you have any artifact with injectable CDI stuff, you have to include a bean.xml file inside the correct locations ie. META-INF/ or WEB-INF/ . In this case you will need one inside the EJB jar META-INF and another inside the war WEB-INF.

[2017-06-17 10:22] zappee commented on #61
Sorry, I missed to add beans.xml to this application. I added them to the right places but there is no impact. I get the same error.

Source code of EE Demo Application in git has been updated.

[2017-06-17 11:26] zappee commented on #61
I have added a new Jersy rest modules (*.war) with a simple GET rest method to the ear. It contains beans.xml as well. When I call the GET url from browser I get the same error:

org.mybatis.cdi.MybatisCdiConfigurationException: There are no SqlSessionFactory producers properly configured.
	at org.mybatis.cdi.CDIUtils.findSqlSessionFactory(CDIUtils.java:55)
	at org.mybatis.cdi.SerializableMapperPr

[2017-06-18 04:39] hazendaz commented on #61
@mnesarco

I looked at this and I think it has something to do with this line of code below.  Although I admit I have almost no idea on all of this...

[code]

With the setup on this one, the EAR/lib has SqlSessionFactory but the classes we need are in the EJB/lib.  Thus the WAR/lib cannot see inside there.  In this case, as reported the WAR shouldn't even attempt to do this lookup as it's not app

[2017-06-18 10:32] zappee commented on #61
JSON Rest module demo is here: https://github.com/zappee/mybatis-ee-demo/tree/mybatis-demo-rest_module.

[2017-06-18 18:01] mnesarco commented on #61
@zappee @hazendaz
I have tested the demo project https://github.com/zappee/mybatis-ee-demo on wildfly 10 and it works out of the box. Maybe a Payara specific issue?

[2017-06-18 20:47] zappee commented on #61
What a surprise!
I tested my demo on Wildfly 10.1.0 yes, it works...
I am going to ask help from Payara guys.

[2017-06-19 05:22] Zolerii commented on #61
Is there any way to know if CDIUtils is using getBeans(String name) or getBeans(Type beanType, Annotation... qualifiers) to get the Bean Set in Payara?

[2017-06-21 15:34] mnesarco commented on #61
@Zolerii

https://github.com/mybatis/cdi/blob/master/src/main/java/org/mybatis/cdi/CDIUtils.java#L68

 beans = beanManager.getBeans(SqlSessionFactory.class, qualifiers.toArray(new Annotation[] {}));

[2017-07-02 16:54] mnesarco commented on #61
@zappee @Zolerii
Hi Guys, do you have any news about this issue?

[2017-07-02 17:05] mnesarco commented on #61
@zappee @Zolerii @hazendaz
Thanks to OndreJ from Payara for its detailed description of the problem: https://github.com/payara/Payara/issues/1688#issuecomment-309732522, so this is not a bug related to mybatis-cdi. He suggest to put all common CDI beans in a separated jar in <EAR>/lib to make it visible to all modules (ejbs and wars). I will leave this open for a while, so we can continue analyzin

[2017-07-16 15:41] zappee commented on #61
Sorry for the late reply. As @OndrejM suggested I moved mybatis related stuff to ear/lib/commons.jar and mybatis-cdi has been started to do its job. So it works now.

I updated my demo project on git as well: [mybatis-ee-demo](https://github.com/zappee/mybatis-ee-demo).

This is the structure of my EAR:

*.ear
  |- lib
  |    |- my-commons.jar
  |    |    |- @mapper interface
  |    |    |- SqlSes

[2017-07-17 04:20] mnesarco commented on #61
Great news @zappee . So I am going to close this now. But this issue contains valuable information. I will add some notices in the documentation. Thanks for your contributions.

[2017-07-17 04:20] #61 closed

[2017-10-04 16:36] mnesarco commented on #63
Hi @danielemaddaluno , this is a very strange case, but it is maybe more related to your Test environment than to mybatis-cdi itself. Also this is a very old issue without more details. I am closing this, if you have more info and are still interested, please reopen this.

[2017-10-04 16:36] #63 closed

[2017-10-05 11:15] Juchar opened #73 "Possibility to use a certain environment by a Qualifier"
## Feature Request
It would be great to be able to use a specified environment by using a custom qualifier.

Currently I have to implement a `@Named` producer for each environment I want to use.
It would be much easier to have something like that:

[code]

I do not know if it is feasable.

I already tried to implement something like that by using a custom annotation:

[code]

And an according prod

[2017-10-06 16:19] mnesarco commented on #73
HI @Juchar
How many environments do you have in your App?

In terms of mapper injection, this:

[code]
Is not so different from this:

[code]
And in terms of the producer, this is not a big deal:

[code]

You can also use your own Qualifier annotation, as soon as you use a producer method per Environment.

I don't know your implementation details but I suppose there are few environments. But if yo

[2017-10-12 01:37] iwangxiaodong opened #74 "How to modify java:comp/BeanManager to java:comp/env/BeanManager?"
InitialContext.doLookup("java:comp/BeanManager") in org.mybatis.cdi.CDIUtils.getBeanManager()

Jetty only allows you to bind entries to java:comp/env, so the BeanManager will be available at java:comp/env/BeanManager

How to modify java:comp/BeanManager to java:comp/env/BeanManager?

Thanks!

[2017-10-12 01:50] hazendaz commented on #74
Good catch!  This would affect tomcat too as its jndi is read only as well.  So bean manager is going to be in the location you noted above.  I'd say drop back to 1.0.0 release for time being.

[2017-10-12 02:00] iwangxiaodong commented on #74
I copied CDIUtils.java and modified it as follows:

    private static BeanManager getBeanManager() {
        try {
            return InitialContext.doLookup("java:comp/BeanManager");
        } catch (NamingException e) {
            try {
                return InitialContext.doLookup("java:comp/env/BeanManager");
            } catch (NamingException ex) {
                throw new RuntimeExcept

[2017-10-12 03:58] hazendaz commented on #74
@iwangxiaodong Can you kindly send a PR for this.  Thanks.  I've used this exact same thing for JNDI many times in the past.  While not the most efficient, given it hits multiple container types it's probably the easiest.

[2017-10-12 14:39] mnesarco commented on #74
@iwangxiaodong @hazendaz It would be nice if we can cache at least the jndi name. but maybe it requires some synchronization. I think throwing exceptions and catching them every time this method is called is a lot of overhead. We have to decide what is less bad: synchronization vs try/catch. Or maybe we can statically do a lookup when the class is loaded and save the correct jndi name, so we will

[2017-10-12 15:19] mnesarco commented on #74
@iwangxiaodong @hazendaz What do you think about something like this:

[code]

[2017-10-12 15:39] mnesarco commented on #74
@iwangxiaodong @hazendaz Or even better:

[code]

[2017-10-12 15:40] iwangxiaodong commented on #74
@mnesarco @hazendaz This code is very good performance!

[2017-10-12 15:45] mnesarco commented on #74
@iwangxiaodong Thanks for the catch. I will submit the patch just now.

[2017-10-12 15:46] #74 closed

[2017-10-12 15:47] iwangxiaodong commented on #74
@mnesarco Yeah！ Nice！

[2017-10-12 23:06] hazendaz commented on #74
Great!  I can push a release tonight.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: iwangxiaodong <notifications@github.com>
Sent: Thursday, October 12, 2017 11:47:52 AM
To: mybatis/cdi
Cc: Jeremy Landis; Mention
Subject: Re: [mybatis/cdi] How to modify java:comp/BeanManager to java:comp/env/BeanManager? (#74)

@mnesarco<https://github.com/mnesarco> Yeah！

[2017-10-14 02:15] hazendaz commented on #74
@iwangxiaodong @mnesarco I have released version 1.0.2 with this change.  It should show in central in about 2 hours but is otherwise available for download now.

[2017-10-14 16:53] mnesarco commented on #74
Thank you very much Jeremy! Nice work!

El 13/10/2017 9:15 PM, "Jeremy Landis" <notifications@github.com> escribió:

@iwangxiaodong <https://github.com/iwangxiaodong> @mnesarco
<https://github.com/mnesarco> I have released version 1.0.2 with this
change. It should show in central in about 2 hours but is otherwise
available for download now.

—
You are receiving this because you were mentioned.

Re

[2017-10-14 16:57] iwangxiaodong commented on #74
@hazendaz

compile 'org.mybatis:mybatis-cdi:1.0.2'

I tested OK!

[2017-10-18 17:12] mnesarco commented on #73
@hazendaz what do you think about this issue?

[2017-10-19 01:51] hazendaz commented on #73
Not sure the benefit here.  I generally have my environmental information separated from the code so I'm basically only injecting in what I actually need for any given environment with a system property to tell me what specific file to read and use.  That may not be entirely cloud ready solution but not sure about using it in this way.  Unfortunately I have not gotten far enough at my day job to f

[2017-10-19 01:52] hazendaz commented on #73
And I must says the added backwards compatibility that is now present which was the primary holdup on switching over sooner.

[2017-10-19 12:13] Juchar commented on #73
I will give a little bit more detailed information about the use case I have, maybe it's more easy to understand.

We have a project that consists of several sub-projects, possibly all connecting to different environments (so not `Prod, Dev, Test, etc.`).

As we wanted simplify the handling we thought about a determined place to put the different configuration.xml files inside the classpath.

We t

[2018-02-04 17:47] surajchhetry opened #81 "issue with micro profile standard"
Hi,
When I use mybatis-cdi with full JEE 7 app server it is working fine without any issue.But when I use microprofile like kumuluz I am getting following exception
[code]
I fixed this by replacing below method

[code]
With
[code]
since CDI utility is only available CDI 1.1+ .

[2018-02-17 17:04] mnesarco commented on #81
Hi @surajchhetry ,
Can you please take a look at this. I have just committed a fix. All tests passed, but I don't have your environment so if you can test it would be great.

[2018-04-09 17:34] #81 closed

[2018-04-09 17:38] mnesarco commented on #73
Hi @Juchar , I am sorry. This feature won't be included any time soon. Y Suggest you to create a fork and do some experiments, then if you want you can contribute any enhancement via a PR.

[2018-04-09 17:38] #73 closed

[2018-04-13 15:59] mnesarco opened #83 "Release 1.0.3"
Hi Jeremy (@hazendaz ), Can you please do a new release? There is one important portability enhancement  pending to release. Some users will appreciate it.

Thank you!

[2018-04-13 16:15] hazendaz commented on #83
Sure.  I'll release it later tonight

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Frank David Martínez M <notifications@github.com>
Sent: Friday, April 13, 2018 11:59:33 AM
To: mybatis/cdi
Cc: Jeremy Landis; Mention
Subject: [mybatis/cdi] Release 1.0.3 (#83)

Hi Jeremy (@hazendaz<https://github.com/hazendaz> ), Can you please do a new release? The is one

[2018-04-14 02:04] hazendaz commented on #83
Released.  Should be in central in 1 to 2 hours.  It's updated to altest mybatis as well.

[2018-04-14 02:04] #83 closed

[2018-04-16 01:46] mnesarco commented on #83
Thank you Jeremy!

[2018-04-16 23:34] hazendaz commented on #83
Np

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Frank David Martínez M <notifications@github.com>
Sent: Sunday, April 15, 2018 9:46:36 PM
To: mybatis/cdi
Cc: Jeremy Landis; State change
Subject: Re: [mybatis/cdi] Release 1.0.3 (#83)

Thank you Jeremy!

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view i

[2018-08-14 10:13] FuoriDiTesta opened #86 "NoSuchElementException in test with Arquillian and embedded container"
Hi,

i'm trying to run a junit test of a Mybatis sample, with CDI injection, with arquillian and an embedded container (both TomEE and GlassFIsh).

THe sample seems not working, even if the logs show correct behavoir:

Aug 14, 2018 12:01:03 PM org.mybatis.cdi.MybatisExtension processAnnotatedType
INFO: MyBatis CDI Module - Found class with @Mapper-annotation: QueryMapper
Aug 14, 2018 12:01:03 PM o

[2018-08-14 11:55] hazendaz commented on #86
Have you tried with junit weld project?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: FuoriDiTesta <notifications@github.com>
Sent: Tuesday, August 14, 2018 6:14:03 AM
To: mybatis/cdi
Cc: Subscribed
Subject: [mybatis/cdi] NoSuchElementException in test with Arquillian and embedded container (#86)

Hi,

i'm trying to run a junit test of a Mybatis sample, wi

[2018-08-27 09:33] FuoriDiTesta commented on #86
With weld, to be honest, no, but if i'm not wrong, Weld doesn't support EJB.... or i'm wrong?

[2018-10-18 13:37] craftone opened #88 ""WELD-001328: Unable to identify the correct BeanManager." occurs"
Hi.
I use MyBatis-CDI 1.0.3 and MyBatis 3.4.6 as JAX-RS application's database layer in Payara 4.1.2 (and Glassfish 4.1.2 and Glassfish 5).

It works fine for a while after deployment, SELECT, UPDATE and so on.
But after 8 requests, when the server is processing the 9th request, below exception occurs. And after that, same exception will occur with any request. After restart the server, that probl

[2018-10-18 17:32] mnesarco commented on #88
javax.enterprise.inject.spi.CDI is not portable across all CDI implementations prior to 1.1, that is why the reflective access is used. The problem reported here is very strange because if javax.enterprise.inject.spi.CDI is available, it is selected for beanManager lookup. And it is more strange because if it works for some time and stops working later it means the javax.enterprise.inject.spi.CDI.

[2018-10-19 14:59] craftone commented on #88
Yes, It is very strange.

To investigate, I added logging to `CDIUtils.CDI#getBeanManager()`.

[code]

At first 8 requests, the logs was below.
[code]

As shown above logs, reflective and non-reflective accesses to `getBeanManager()` don't return same bean manager.

And at 9th request, the log was below.
[code]

The exception occurred at `getBeanManager.invoke(cdi)` .

[2018-10-20 00:12] mnesarco commented on #88
Hi @craftone , I have a theory:

The problem could be the classloader. The reflective trick to cache the current() method uses the whatever classloader that loaded the CDIUtils, this reflective code runs once when the class is loaded, but maybe the getBeanManager() method is dependent on the current thread, so the reflective cached method should be ThreadLocal instead of static.

If my theory is r

[2018-10-20 00:57] hazendaz commented on #88
1.0 released in 2009.  Not sure the value for that support is worth it beyond possible the person that originally wanted full range support.  However might be worth looking at a bit more to see if we can pull of better magic support of all to avoid this issue.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Frank David Martínez M <notifications@github.com>
S

[2018-10-20 01:16] craftone commented on #88
I think JNDI look up can be used all the time since cdi 1.0.
How about using JNDI lookup only?

[2018-10-20 01:29] mnesarco commented on #88
JNDI Lookup is also not portable, at least in the immature period around CDI 1.0 and 1.1.

[2018-10-20 02:02] craftone commented on #88
Umm... How about this code?
Reflective access is used for only checking if CDI utitliy is available.
This is working in my environment.

[code]

[2018-10-20 02:11] mnesarco commented on #88
@craftone I think it will not work in cdi 1.0 environment just because the class javax.enterprise.inject.spi.CDI is not in the classpath. So the system will fail immediately trying to load CDIUtils. It works in your environment because it is not CDI 1.0.

[2018-10-20 02:29] mnesarco commented on #88
@craftone according to this: https://www.programcreek.com/2013/01/when-and-how-a-java-class-is-loaded-and-initialized/
your idea could work even with cdi 1.0 and the code can be simplified a lot. The risk is that as mentioned in the article, different jvms can load classes in different ways. So no guarantees.

I am still very inclined to drop CDI 1.0 support and move on.

[2018-10-20 02:37] craftone commented on #88
@mnesarco I think if the class javax.enterprise.inject.spi.CDI is not in the classpath, java.lang.ClassNotFoundException will occur at `Class.forName("javax.enterprise.inject.spi.CDI")`. And the exception will be caught and `canCDIGetBeanManager` will be false. After that the system will use JNDI lookup only.
So the code will work in CDI 1.0 environment, I think.

[2018-10-20 02:58] mnesarco commented on #88
@craftone  you are right about the exception catch at Class.forName call. But my concern is not there but in the static reference to the class here:

[code]
If the JVM loads the javax.enterprise.inject.spi.CDI class before the call to Class.forName, the ClassNotFoundException will be propagated hopelessly. The Class Loading process does not follow the code execution path. It has its own rules. In

[2018-10-20 03:04] mnesarco commented on #88
My proposal is to just drop cdi 1.0 support, remove all the tricky code and just call javax.enterprise.inject.spi.CDI.current().getBeanManager(). Then release 1.0.4.

If there are someone using cdi 1.0 + mybatis + mybatis-cdi, they should use 1.0.3 or create a fork.

[2018-10-20 04:14] craftone commented on #88
@mnesarco Oh yes, finally I understand. Thank you for your exlanation.

[2018-10-20 17:11] mnesarco commented on #88
@iwangxiaodong, @hazendaz, @craftone, @mwlynch

Please vote +1/-1 to merge the PR and move on, or if you can, provide a new PR to fix this issue and keep cdi1.0 support.

See also: #74

My vote is +1 to remove cdi-1.0 support and release mybatis-cdi 1.0.4

[2018-10-20 17:40] mwlynch commented on #88
+1,
If I'm in a position where I need CDI 1.0 support again (heaven forbid...) I'll send a pull request or fork:-)

[2018-10-20 20:37] mnesarco commented on #88
Ok we have +3 votes (@hazendaz , @mwlynch , @mnesarco )
Next release will be mybatis-cdi-1.1.0 and will support cdi-1.1+

[2018-10-20 20:43] #88 closed

[2018-10-21 21:13] hazendaz opened #91 "Tests fail with serious issues with surefire 2.22.0+"
Numerous issues surface with surefire 2.22.0+ indicating that we are trying to set items already set with 'unique'.  I'll get more details here shortly as I'm upgrading a number of other items such as ditching the entire runner / mocking for initial context as weld-junit does that for free.  I'm also upgrading to junit5 and will drop java 7 builds.

[2018-10-21 21:14] hazendaz commented on #91
I was able to flush the above issue with just that update alone so will be completely unrelated to other work I'm pushing through.

[2018-10-21 23:11] hazendaz opened #94 "github is behaving very strange..."
pr #93 is merged.  It shows that way when pulling.  Not sure what is going on as I'ver seen this before.  The PR showed merged once then back to open.  Just opening this in case we end up with some issue here we need to force push to fix.

[2018-10-23 01:05] jluisromero opened #95 "mybatis-cdi-1.0.3 crashes in repeated requests"
Hello, I have been testing my jax-rs application using mybatis-cdi-1.0.3, usually crashes in 8th request. When I downgrade to 1.0.2 this one does not crash.

The exception is:

org.jboss.weld.exceptions.IllegalStateException: WELD-001328: Unable to identify the correct BeanManager. The calling class sun.reflect.GeneratedMethodAccessor88 is not placed in bean archive
    at org.jboss.weld.SimpleCDI

[2018-10-23 01:38] hazendaz commented on #95
Hi, this was reported last week and it has been resolved.  We need a couple more days to release it but you can check out master now and give a quick test.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: jluisromero <notifications@github.com>
Sent: Monday, October 22, 2018 9:05:32 PM
To: mybatis/cdi
Cc: Subscribed
Subject: [mybatis/cdi] mybatis-cdi-1.0.3 cra

[2018-10-23 14:15] mnesarco commented on #95
This is duplicated. See #88

[2018-10-23 14:15] #95 closed

[2018-10-25 00:23] #94 closed, assigned to nobody

[2018-10-25 00:47] hazendaz opened #97 "Release mybatis-cdi 1.1.0"

[2018-10-25 00:48] hazendaz commented on #97
Completed, will show in central in a couple hours.

[2018-10-25 00:48] #97 closed

[2018-10-25 17:14] mnesarco commented on #97
Thank you Jeremy. Nice work.

[2018-10-25 17:34] mnesarco commented on #86
@FuoriDiTesta after I have fixed your derby dependecy, I tried:

mvn -P arquillian-jbossas-managed test   ...... [No Errors]
mvn -P GlassFish test  ................................... [No Errors]
mvn -P tomee-embedded test ........................ [No Errors]

So I will close this now. If you provide new evidence this can be reopened. But I recommend you to move to mybatis-cdi-1.1.0 anyway.

[2018-10-25 17:49] mnesarco commented on #86
@FuoriDiTesta Ok, your sample zip is not running any test, I just figured it now, your class ArquillianMyBatisSample must be named ArquillianMyBatisSampleTest to be executed in tests.

1. I fixed the class name and your reported exception appears.
2. I have upgraded to mybatis-cdi-1.1.0 and the problem remains.

This requires further investigation.

[2018-10-28 16:29] hazendaz commented on #91
Surefire 2.22.0 results in tests running differently.  In that case, the weld container appears to remain open longer and multiple get mixed resulting in errors occurring with CDI.current() noting that there are too many weld instances and likely instability.  Further JTA gets injected into all these extra containers resulting in errors with 'unique' naming.  On their own, each test can be individ

[2018-10-31 13:37] mnesarco commented on #86
@FuoriDiTesta, I am not an Arquillian user. Please provide more info/tests to help us encounter the problem. I suspect the problem is not in mybatis-cdi but in your configuration, but because I do not know Arquillian, I can be wrong. One possible test is to setup a project using tomcat embedded without Arquillian.

[2018-10-31 13:52] mnesarco commented on #91
Hi Jeremy,
I am a bit confused with this. What can we do to restore the tests?

[2018-11-01 02:10] hazendaz commented on #91
Fix coming shortly that will enable 8 of the 13 tests.  I was able to figure out a partial solution by changing the junit lifecycle.  If I uncomment the JTA tests those will work but cause the non JTA to all fail as the JTA code still gets injected in those cases.  While not complete this puts us in a much better position and remains up-to-date.

[2019-01-17 03:41] rpdeadly commented on #86
I have the same problem with Arquillian. I've traced the problem to how @Mapper is injected.

public static SqlSessionManagerRegistry getRegistry(CreationalContext creationalContext) {
    final BeanManager beanManager = getBeanManager();
    Iterator<Bean<?>> beans = **beanManager.getBeans(SqlSessionManagerRegistry.class)**.iterator();
    return (SqlSessionManagerRegistry) beanManager.getReferen

[2019-01-17 03:45] rpdeadly commented on #86
Injecting SqlSessionFactory seems to work. So a work around to this problem is to get a reference and then sqlSessionFactory.openSession().getMapper(  )

[2019-01-17 04:13] mnesarco commented on #86
SqlSessionManagerRegistry actually IS a managed bean:

https://github.com/mybatis/cdi/blob/master/src/main/java/org/mybatis/cdi/SqlSessionManagerRegistry.java

[2019-03-17 20:51] zory opened #114 "UnsatisfiedResolutionException: Api type [] is not found with the qualifiers..."
Hi. I'm struggling with MyBatis-CDI injection to other bean. Maybe you have some ideas what I'm doing wrong and what did I miss?
Error I have in my test project:
[code]
My setup - I'm using mybatis generator to generate my Models, DAO classes and mappers xml's. As my generator works, i assume that there is no problems in that code. Then mybatis and mybatis-cdi configuration:
Maven:
[code]
MyBatisC

[2019-03-17 21:48] hazendaz commented on #114
Can you try the latest release of the cdi model?  I'm pretty sure the beta used here had issues.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Zorian <notifications@github.com>
Sent: Sunday, March 17, 2019 4:51:47 PM
To: mybatis/cdi
Cc: Subscribed
Subject: [mybatis/cdi] UnsatisfiedResolutionException: Api type [] is not found with the qualifiers... (#114)

[2019-03-18 12:10] zory commented on #114
Thank You for response.
I tried with 1.0.0 version before, but result was the same, so I updated to beta version.

[2019-03-18 13:22] mnesarco commented on #114
Latest version is 1.1.0. Please try with latest version.

El lun., 18 de mar. de 2019 7:10 a. m., Zorian <notifications@github.com>
escribió:

[2019-03-19 12:57] zory commented on #114
Tried with some different versions (newest included). Result is the same.
Interesting think though: found a public project with similar setup of mine, stripped everything except mybatis/cdi and everything woks fine in there, but couldn't find a meaningful difference between the two projects. Project I found would trigger the same error if mybatis version changed to older/newer, but works fine with

[2019-03-26 02:13] hazendaz commented on #114
@zory Try using @Any servers mapper and see if that helps at all.

[2019-03-30 16:07] mnesarco commented on #114
@zory, can you provide a minimal sample project to reproduce the problem?

[2019-04-10 07:44] iwangxiaodong opened #116 "Consider support JNDI obtain UserTransaction?"
Hi!

https://github.com/mybatis/cdi/blob/e72795c1a9ac61aaa31e7f4a0bdf3919728a306e/src/main/java/org/mybatis/cdi/JtaTransactionInterceptor.java#L41

Change to:

    InitialContext context = new InitialContext();
    UserTransaction utx = (UserTransaction)context.lookup("java:comp/UserTransaction");

Or

    @Resource(mappedName = "UserTransaction")
    private UserTransaction ut;

Thanks!

[2019-07-06 02:58] fastf2018 commented on #12
i wanna to known how do you draw the pic.  with what drawing tool?

[2021-04-04 18:55] hazendaz opened #207 "Weld 3.1.7.Final Proxy changes has broken mybatis-cdi support"
Update to 3.1.7.Final was reported broken for mybatis-cdi private usage.

This can be demonstrated in our current test set.  Simply bump cdi 2.0 support weld up to 3.1.7.Final and run the build with cdi 2.0 profile.

mvn clean install -P"cdi-2.0"

[INFO] Running org.mybatis.cdi.FooServiceTest
[ERROR] Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 0.107 s <<< FAILURE! - in org.myba

[2021-05-08 22:35] hazendaz commented on #207
Fixed via #211

[2021-05-08 22:35] #207 closed

[2021-05-30 05:03] #116 closed

[2021-08-18 12:40] hfluz opened #232 "Create annotation to rollback exception by default"
Nowadays, if I want to rollback when a checked exception happens, I have to set the `rollbackFor` everytime on the `@Transactional` annotation.

It would be nice if we could do something similar to EJB transactions, like:

[code]

[2021-09-06 07:08] vlcheong opened #242 "Upgrade to jakarta Namespace"
Hi MyBatis,
Any plan to upgrade to jakarta namespace CDI library?

[2021-12-31 01:20] hazendaz commented on #86
Few years later, trying to clean thing sup so I took the download which was a mess as noted here.  I fixed the same issues but got it to work.  Arquillian requires 'SqlSessionManagerRegistry.class' added or it will not load it.  Once it loads it, it works fine with the test product.  To save others work if they stumble on this, I have updated the sample project.  It should work with simple 'mvn cl

[2021-12-31 01:20] #86 closed

[2021-12-31 01:40] hazendaz commented on #114
I'm going to close this one as it sounds like a setup issue.  This looks pretty close to our test setup.

[2021-12-31 01:40] #114 closed

[2022-02-01 17:59] ynleborg commented on #242
@hazendaz
This site is down: http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd and my tests are failing due to
"/target/test-classes/META-INF/beans.xml
Caused by: org.xml.sax.SAXParseException: The element type "META" must be terminated by the matching end-tag "</META>"."

is there a workaround for this (this in not the first time when oracle site is down)

[2022-02-02 15:10] hazendaz commented on #242
site was up when I checked after seeing this so was intermittent.  However, this points out we should be using https instead of http for that for security reasons.  I'll update that shortly and given recent changes there may be enough to cut a new release.  This is unrelated to jakarta namespace though.

[2022-03-03 20:44] george-trudeau commented on #242
+1 here, we've updated our environment to Jakarta EE 9.1 on Wildfly 26.
I've compiled a custom version of mybatis-cdi for our internal projects to use the jakarta.* namespace while we wait for an official release.

[2022-03-31 23:17] hazendaz commented on #242
@george-trudeau As to what you compiled, did you just change to jakarta and skip tests given the underlying framework for testing doesn't yet support jakarta?  Also assume you tied to newer cdi/weld when doing so.

I'm trying to figure out how to approach this.  At the moment, need to get a release out and see any feedback as generics messed with a lot along with typing.  Tests and separate aquill

[2022-04-01 16:53] george-trudeau commented on #242
Yes that's about all I did :
- upgraded jakarta.annotation-api to 2.0.0
- upgraded jakarta.transaction-api to 2.0.0
- added cdi-3.0 profile with jakarta.enterprise.cdi-api to 3.0.1
- dropped all other cdi profiles
- renamed javax.* to jakarta.* corresponding namespace

And unfortunately I had to skip the tests, since as you pointed out atomikos doesn't provide support for the new jakarta namespace

[2022-04-01 17:33] hazendaz commented on #242
@george-trudeau Thank you for the information!  I did get one last javax release out that I want to soak a bit as I reworked a lot in the generics area and type safety avoidance of <?>.  This info will help getting this effort started and great that my quick look was on par with your findings.  I'll try to get something out here around May 1st or so in support of jakarta.

[2022-06-20 15:36] hazendaz commented on #19
@znzlspt17 What version of WAS and mybatis-cdi are you using?  Based on this thread, you need to be at cdi 1.1 which is least supported version.  We have profiles in pleace on github actions to run through all configuration needs from 1.1 to 2.0 with various java configurations.  Those are known supported.  This thread was in regards to WAS 8.5.5.5 which I'm guessing from context here was still cd

[2022-06-21 12:33] hazendaz commented on #19
@znzlspt17 Yes open new ticket with stack trace of issue you are facing.  This ticket is specific to WAS and legacy usage which was noted as resolved in indicating newer version necessary.  The library usage you have looks ok.

[2022-06-21 15:05] znzlspt17 opened #302 "UnsatisfiedResolutionException using aries-cdi 1.1.5 with karaf 4.3.7"
[code]

The stack is as above

Since we cannot disclose the code of the project, i will post the same sample code that reproduces the same error by tomorrow.

**Added**

sample code & kar : [myapp_sample.zip](https://github.com/mybatis/cdi/files/8954672/myapp_sample.zip)

I've written a simple sample code as it is used in my existing project.

Environment
Eclipse OpenJ9 VM AdoptOpenJDK (build open

[2022-06-22 05:43] znzlspt17 commented on #19
@hazendaz Hello, I opened a new ticket. https://github.com/mybatis/cdi/issues/302#issue-1278589951

[2022-07-26 23:30] pangbuddy commented on #242
+1, with the release of Jakarta EE 10, a new JAVA era is coming, we need Mybatis-CDI to catch up with the team, thanks a lot!

[2022-08-03 04:03] hazendaz commented on #242
I've added a jarkarta branch but tests don't currently work.  I haven't figured out the issue so if anyone wants to take a look at it or even build and give it a run, let me know how that goes.

[2022-08-10 00:29] renovate[bot] opened #316 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency org.apache.derby:derbyoptionaltools to v10.16.1.1
 - [ ] Update dependency org.apache.derby:

[2022-08-10 00:49] hazendaz commented on #242
Link to branch https://github.com/mybatis/cdi/tree/jakarta

[2022-09-03 23:17] hazendaz commented on #242
More updates to jakarta branch were applied, it is basically complete but transaction manager used doesn't support jakarta for testing.  Either we need to migrate to something else or await support.